<html>
<header>
</header>
<body>
<form #newAttendeeForm="ngForm">
  <p><b>NAME:</b><br>
    <input name="name" #name="ngModel" [(ngModel)]="model.name" required type="text" size="40">
    <span [hidden]="name.pristine || name.valid" style="color: red">You need to provide the value for the title</span>
  </p>
  <p><b>EMAIL:</b><br>
    <input name ="email" [(ngModel)]="model.email" type="text" size="40">
  </p>
  <p><button (click)="create()" [disabled]="!newAttendeeForm.form.valid" type="submit"> OK </button>
   <button  routerLink="/"> Cancel </button></p>
</form>
</body>
</html>
